<html>
<body>
Greetings,

This email address has been added to your account on PREreview.org. If you did
not add any new email addresses to your account, please disregard this 
notification. Otherwise, please visit the URL below to verify this address:

<a href="https://prereview.org/validate/{{ token }}">
https://prereview.org/validate/{{ token }}
</a>

Thank you!

--
The PREreview.org Team
</body>
</html>
