NODE_ENV=development

# Admin OrcIDs
# PREREVIEW_ADMIN_USERS=

# Log level
# PREREVIEW_LOG_LEVEL=error

# Webserver host and port
# PREREVIEW_HOST=localhost
# PREREVIEW_PORT=3000

# Postgres database connection settings
# PREREVIEW_DB_HOST=localhost
# PREREVIEW_DB_PORT=5432
# PREREVIEW_DB_NAME=prereview
# PREREVIEW_DB_USERNAME=prereview
# PREREVIEW_DB_PASSWORD=
# PREREVIEW_DB_POOL_MIN=0
# PREREVIEW_DB_POOL_MAX=10
# PREREVIEW_DB_TIMEOUT=0

# Optional cloudflare access support
# PREREVIEW_CFACCESS_URL=
# PREREVIEW_CFACCESS_AUDIENCE=

# Session secrets
# PREREVIEW_SECRETS=

# OrcID Authentication
# PREREVIEW_ORCID_CLIENT_ID=
# PREREVIEW_ORCID_CLIENT_SECRET=
# PREREVIEW_ORCID_CALLBACK_URL=
# PREREVIEW_ORCID_SANDBOX=false

# Email notifications
# PREREVIEW_EMAIL_ADDRESS=
# PREREVIEW_EMAIL_SENDGRID_USER=
# PREREVIEW_EMAIL_SENDGRID_KEY=
