NODE_ENV=development

# Username and password
#PREREVIEW_ADMIN_USERNAME=admin
#PREREVIEW_ADMIN_PASSWORD=

# Log level
#PREREVIEW_LOG_LEVEL=error

# Webserver host and port
#PREREVIEW_HOST=localhost
#PREREVIEW_PORT=3000

# Postgres database connection settings
#PREREVIEW_DB_HOST=localhost
#PREREVIEW_DB_PORT=5432
#PREREVIEW_DB_DATABASE=prereview
#PREREVIEW_DB_USERNAME=prereview
#PREREVIEW_DB_PASSWORD=
#PREREVIEW_DB_POOL_MIN=0
#PREREVIEW_DB_POOL_MAX=10
#PREREVIEW_DB_TIMEOUT=0

# Optional cloudflare access support
#PREREVIEW_CFACCESS_URL=
#PREREVIEW_CFACCESS_AUDIENCE=

# Session secrets
# PREREVIEW_SECRETS=
