@import url('quill/dist/quill.snow.css');

.ql-editor {
  background-color: #fff;
}

.ql-editor p {
  font-size: 1rem;
  margin-bottom: 1em;
}

.ql-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
