.review-reader {
  & .review-reader__title {
    font: var(--ui-header-1-font);
    margin: 0 var(--xsgrd) var(--xsgrd);

    & span {
      &:not(:first-child) {
        padding-left: 10px;
      }

      &:not(:last-child) {
        border-right: 1px solid #000;
        padding-right: 10px;
      }
    }
  }
  & .review-reader__sub-header {
    font: var(--ui-header-2-font);
    margin: 2em var(--xsgrd) var(--xxsgrd);
  }

  & .review-reader__help-text {
    font: var(--ui-basic-font);
    color: var(--ui-basic-font-color--light);
    margin: var(--xsgrd) var(--xsgrd) var(--sgrd);
    border: 1px solid var(--ruling-color);
    padding: var(--xsgrd);
    border-radius: var(--xxsgrd);
    display: flex;
    align-items: center;
  }

  & .review-reader__help-text-icon {
    margin-right: var(--xsgrd);
    height: var(--sgrd);
    width: var(--sgrd);
    flex: 0 0 var(--sgrd);
  }

  & .review-review__persona-selector {
    outline: 1px solid red;
    width: 100%;
  }

  & .tags {
    padding: var(--xsgrd);

    &__content {
      display: flex;
      margin-left: -10px;
    }

    &__title {
      font-weight: bold;
      margin-bottom: 1em;
      margin-top: 2em;
    }

    &__tag {
      background-color: var(--prereview-blue);
      color: var(--prereview-white);
      margin-left: 10px;
      padding: 5px;
    }
  }// end tags

  & .text-answers {
    padding: var(--xsgrd);
  }
}

.review-reader--full  {
  & .barplot {
    margin-top: var(--mgrd);
  }

  & .text-answers {
    & .comments {
      margin-top: var(--mgrd);

      &-title {
        font-weight: bold;
        width: 100%;

        &-input {
          margin-bottom: 10px;
          margin-top: 10px;
          max-width: 400px;
          width: 100%;
        }
      }

      &__add {
        margin-top: var(--mgrd);

        & .ql-toolbar {
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          height: 1px;
          overflow: hidden;
          position: absolute;
          white-space: nowrap;
          width: 1px;
        }
      }
    }
  }
}
