.fixed__search-bar {
  left: 0;
  position: fixed;
  top:  var(--header-bar-height);
  z-index: 999;

  & .search-bar {
    width: 100vw;
  }
}

.search-bar {
  align-items: center;
  background-color: white;
  display: flex;
  height: var(--search-bar-height);
  justify-content: center;
  width: 100%;

  &__small {
    position: relative;
    top: unset;
  }

  @media (--short-screen) {
    height: auto;
    margin-top: calc(var(--header-bar-height));
    padding: var(--mgrd) 0;
    position: relative;
    top: 0;
    z-index: 800;
  }

  @media (max-width: $mobile-bp) {
    padding-top: var(--header-bar-height);
  }

  & .search-bar__search-box {
    margin: 0 var(--xsgrd);
    flex: 1 1 var(--middle-column-default-width);
    max-width: var(--middle-column-default-width);
    height: var(--xlgrd);
    position: relative;

    & .search-bar__search-box__input {
      border-radius: calc(var(--xlgrd) / 2);
      font: var(--ui-basic-font--large);
      font-weight: 300;
      height: 100%;
      margin: 0;
      padding: var(--xxsgrd) var(--sgrd);
      transition: border 0.2s;

      &:focus {
        border: 1px solid var(--prereview-grey);
        margin: 0;
        outline: none;
      }
    }

    & .search-bar__search-box__button {
      background-color: #fff;
      border-radius: calc(var(--lgrd) / 2);
      cursor: pointer;
      height: var(--lgrd);
      margin: 0;
      opacity: 0.6;
      padding: 4px;
      position: absolute;
      right: 8px;
      top: 4px;
      width: var(--lgrd);
    }
    & .search-bar__search-box__button-icon {
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  & .search-bar__search-box__small {
    margin: 0;
  }
}
