.share-menu {
  width: var(--mgrd);
  height: var(--mgrd);
  border-radius: 50%;
  display: flex;
  flex: 0 0 var(--mgrd);
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  opacity: 0.7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s;
  border: 2px solid white;

  &-container {
    position: relative;
  }

  &:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.45);
    opacity: 1;
  }
  &:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
    opacity: 1;
  }
  &:focus {
    border: 2px solid var(--button-background-focus-color);
  }

  & .share-menu__icon {
    flex: 0 0 auto;
    width: var(--sgrd);
    height: var(--sgrd);
  }
}

.permalink-modal {
  & .controls {
    margin-top: var(--sgrd);
  }
}

.share-menu-container {
  .expandable {
    $transition-speed: 400ms;

    // Expanded state
    &,
    .js &[aria-hidden="false"] {
      overflow: hidden;
      transition: max-height $transition-speed ease-in-out,
                  visibility 0s linear 0s;
      visibility: visible;
    }

    // Collapsed state
    &[aria-hidden="true"],
    // Selector below prevents a flash of unstyled content (FOUC)
    .js &:not([aria-hidden]) {
      max-height: 0 !important;// !important required to override inline styles added by JS
      transition: max-height $transition-speed ease-in-out,
                  visibility 0s linear $transition-speed;
      visibility: hidden;
    }
  }

  // We also suggest hiding the button when JS is disabled.
  // Note: Modernizr looks for a “no-js” class on the html tag and replaces it with “js” on load.
  //       If not using Modernizr, see https://www.paulirish.com/2009/avoiding-the-fouc-v3/
  .no-js [data-expands] {
    display: none;
  }

  .menu__list {
    background-color: #fff;
    border: 1px solid var(--light-grey);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 1rem 0.5rem;
    position: absolute;
    right: 0;
    top: 0%;
    z-index: 100;

    &[aria-hidden="false"] {
      height: 100px !important;
      max-height: 200px !important;
    }
  }
}
