body {
  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--ui-basic-font-color);
  font: var(--ui-basic-font);
  & :any-link {
    color: var(--link-color);
    &:hover {
      color: var(--prereview-black);
    }
  }
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
