<html>
<body>
Hello!
<br />
<br />
A user on the PREreview.org preprint review platform 
has requested to join your community {{ community }}. 
Please head to your community's settings page and add the below user:
<br />
<br />
<br />
Name: {{ userName }}
<br />
UUID: {{ userUuid }}
<br><br />
If you have any questions, please don't hesitate to email contact@prereview.org. 
<br />
Thank you!
<br />
--
The PREreview.org Team
</body>
</html>
